.slider-container {
    position: relative;
  }
  
  .slider {
    display: flex;
    overflow: hidden;
  }
  
  .slide {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imghome {
    width: 100%;
    height: auto;
  }
  
  .post-link {
    position: absolute;
    bottom: 350px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    
  }
  
  
  